body {
    margin: 0;
}

p {
    margin: 0;
    font-family: Minipax;
}

.contact_infos {
    display: block;
    border: dotted 3px black;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 15px;
}

ul {
    font-family: Minipax;
    list-style-type: none;
    /* list-style-image: url(../img/sprite_\(5\).png); */
    list-style-position: inside;
    /* line-height: 120%; */
    margin: 0;
}

li {
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    content: " → ";
    padding-right: 5px;
}

@media (max-width: 768px) {
    p {
        font-size: 22px;
    }

    .contact_infos {
        width: 80%;
        margin-top: 60px;
        margin-left: calc(50vw - 40%);
    }
}

@media (min-width: 769px) {
    * {
        font-size: 2.2vw;
    }

    .contact_infos {
        width: 36%;
        margin-top: 60px;
        margin-left: calc(50vw - 18%);
    }
}