body {
  margin: 0;
  transition: background-color 0.5s;
}

#projectDetailsContainer {
  display: flex;
  position: absolute;
  width: 100%;
  top: 55px;
  background-color: rgb(255, 255, 255);
  z-index: 0;
  justify-content: center;
}
#projectDetailsContainer .projectContainer {
  flex-flow: column nowrap;
}
#projectDetailsContainer .projectContainer img {
  width: 100%;
}

#bckCanvasContainer {
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px) grayscale(100%);
          backdrop-filter: blur(10px) grayscale(100%);
}
#bckCanvasContainer canvas {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

main {
  position: absolute;
  width: 100%;
  z-index: 2;
}

header {
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: white;
}
header h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 12pt;
  margin: 2px;
  filter: blur(1px);
  cursor: pointer;
}
header h3 {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8pt;
  font-weight: lighter;
  margin: 0 0 5px 0;
  color: black;
}

#projectSelectionContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: left;
}
#projectSelectionContainer h2 {
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 0 20px;
  margin: 3px 6px;
  border-radius: 12px;
}
#projectSelectionContainer h2:first-of-type {
  margin-top: 8px;
}
#projectSelectionContainer h2:hover, #projectSelectionContainer .activeTitle {
  background-color: black;
  color: white;
}
#projectSelectionContainer p {
  font-size: 14pt;
  margin: 0;
}

footer {
  height: 200px;
}

#persoInfoContainer {
  display: block;
  position: fixed;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: calc(100vh - 55px);
  transition: bottom 1s, top 1s;
}
#persoInfoContainer .listInfos {
  font-family: "syne";
  padding: 6px;
}
#persoInfoContainer #supermarketPoint {
  color: grey;
}
#persoInfoContainer p {
  font-family: monospace;
}
#persoInfoContainer .linksPerso {
  font-family: monospace;
}

a {
  color: black;
  font-weight: 600;
}

img {
  cursor: zoom-in;
}

video {
  height: 80vh;
  width: 100%;
  margin: 25px 0;
}

.zoomedIn {
  cursor: zoom-out;
  box-shadow: 0 0 45px -10px rgb(124, 124, 124);
}

@media (min-width: 769px) {
  #bckCanvasContainer {
    top: 55px;
    height: calc(100% - 55px);
  }
  #persoInfoContainer {
    padding-left: 20px;
    bottom: 100vh;
    border-bottom: solid black 5px;
  }
  #persoInfoContainer .listInfos {
    font-size: 20pt;
  }
  #persoInfoContainer p {
    font-size: 16pt;
    max-width: 38%;
  }
  #persoInfoContainer .linksPerso {
    font-size: 18pt;
  }
  #persoInfoContainer #closeButtonContainer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 60px);
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  #persoInfoContainer #closeButtonContainer #closeInfosButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: 600;
    border: black solid 2px;
    box-sizing: content-box;
    padding: 8px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 0;
    cursor: pointer;
  }
  header {
    height: 55px;
    box-shadow: 0 -5px 20px 0px rgb(211, 211, 213);
  }
  header #headerHandle {
    display: flex;
    justify-content: center;
  }
  header #headerHandle p {
    width: 21px;
    margin: 0;
    transform: rotate(90deg);
  }
  #projectSelectionContainer {
    top: 55px;
  }
  #projectSelectionContainer #projectInfos {
    display: flex;
    flex-flow: column;
    justify-content: end;
    position: fixed;
    top: 65px;
    right: 30px;
  }
  #projectSelectionContainer #projectInfos * {
    text-align: left;
    font-family: "Bungee", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12pt;
    line-height: 12pt;
    margin: 0;
  }
  #projectSelectionContainer #projectInfos .githubLink > img {
    height: 22px;
    width: 22px;
  }
  #projectSelectionContainer h2 {
    font-size: 14pt;
  }
  .projectContainer {
    display: none;
    width: 55%;
  }
  .projectContainer p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18pt;
  }
  .appLink {
    width: 100%;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
  }
  .pageSpaceBottom {
    height: 80px;
    margin-top: 80px;
    border-bottom: solid 2px rgb(145, 145, 145);
    border-top: solid rgb(157, 157, 157) 1px;
  }
  #displayPageButtonContainer {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 55px;
    height: calc(100% - 55px);
    justify-content: center;
    align-items: start;
  }
  #displayPageButtonContainer #displayPageButton {
    cursor: pointer;
    display: flex;
    font-family: garamond;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
    padding: 5px 20px;
    margin-top: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 20px -5px rgb(210, 210, 210);
  }
  #displayPageButtonContainer #displayPageButton:hover {
    background-color: black;
    color: white;
  }
}
@media (max-width: 768px) {
  #bckCanvasContainer {
    height: calc(100vh - 75px);
  }
  #projectInfos {
    display: none;
  }
  #persoInfoContainer {
    top: 100vh;
    border-top: solid black 5px;
  }
  #persoInfoContainer .listInfos {
    font-size: 16pt;
  }
  #persoInfoContainer p {
    font-size: 16pt;
    padding: 16px;
    margin: 0px 0px;
    text-align: center;
  }
  #persoInfoContainer .linksPerso {
    width: 100%;
    text-align: center;
    font-size: 16pt;
  }
  #persoInfoContainer .linksPerso:first-of-type {
    margin-top: 40px;
  }
  header {
    height: 75px;
    box-shadow: 0 5px 20px 0px rgb(211, 211, 213);
    bottom: 0;
  }
  header #headerHandle {
    display: flex;
    justify-content: center;
  }
  header #headerHandle p {
    width: 21px;
    margin: 0;
    transform: rotate(-90deg);
  }
  .projectContainer {
    display: none;
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
  }
  .projectContainer p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14pt;
  }
  #displayPageButtonContainer {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 95px;
    justify-content: center;
    align-items: start;
  }
  #displayPageButtonContainer #displayPageButton {
    display: flex;
    font-family: garamond;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
    padding: 5px 20px;
    margin-top: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 20px -5px rgb(210, 210, 210);
  }
  #projectSelectionContainer {
    padding-top: 125px;
    width: calc(100vw - 46px);
    transition: left 0.4s;
  }
  #projectSelectionContainer .projectTitle {
    width: calc(100% - 6px);
    font-size: 24pt;
    background-color: rgba(46, 46, 46, 0.1);
  }
  #projectSelectionContainer .inactTitle {
    background-color: #343434;
  }
}/*# sourceMappingURL=style.css.map */