:root {
    --border-card: rgba(255, 255, 255, 1);
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.v-card-title {
    padding: 6px 6px 2px 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 0px;
}

.v-card-actions {
    min-height: 0px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 4rem 20px;
}

.v-footer {
    padding-bottom: 56px;
}